<html>
    <head>
        <title>Web Profile Faisal</title>
    </head>
    <body>
      <h1>Aktivitas Faisal</h1>

      <h2>Research</h2>
      <ul>
        <li>
          Saresehan Tani Online, Sarana Belajar Petani dengan Memanfaatkan Learning Management System dan optimalisasi peran Pusat Kegiatan Belajar Masyarakat/PKBM. <br/>
          Merancang pemanfaatan LMS sebagai sarana dalam memberdayakan masyarakat pertanian.
          Meraih peringkat pertama nasional dalam kategori karya tulis ilmiah Gemastik 2015.
        </li>
        <li>
          Pengembangan Perangkat Lunak dalam E-Learning untuk Mengidentifikasi Letak Kesulitan Belajar pada Kompetensi Dasar Membuat Fungsi dan Prosedur di Basis Data<br/>
          Mengembangkan perangkat lunak pembelajaran berbasis web dalam bentuk Intelligent Tutoring System (ITS) untuk membantu siswa dalam mempelajari konsep dan pengetahuan mengenai fungsi dan prosedur tersimpan dalam basis data (Stored Procedure).
        </li>
      </ul>

      <h2>Work</h2>
      <ul>
        <li>Web Developer di NoLimit Indonesia (2014-2015)<br/>
          Bertanggungjawab dalam pengembangan produk-produk berbasis web oleh NoLimit, startup dalam bidang analisis media sosial.
        </li>
        <li>Pengajar di SMK BPI Bandung, Kompetensi Keahlian Rekayasa Perangkat Lunak (2014-2015)<br/>
          Mengajar pada mata pelajaran Sistem Basis Data, Jaringan Komputer Dasar, Pengembangan Aplikasi Web, Algoritma Pemrograman, Pemrograman Berorientasi Objek, serta Perancangan Perangkat Lunak;
        </li>
        <li>Guru Pendamping di SMK Negeri 1 Unaaha, Kompetensi Keahlian Teknik Komputer dan Jaringan (2012-2013)<br/>
            Program Kerjasama LPPM UPI – Direktorat Pembinaan SMK Kemendikbud RI, mendampingi guru-guru dalam memanfaatkan TIK dalam pembelajaran dan mengajar pada mata pelajaran kejuruan Teknik Komputer dan Jaringan.
        </li>
        <li>Asisten Praktikum pada Mata Kuliah Basis Data, Sistem Basis Data, dan Pemrograman Berorientasi Objek pada Program Studi Pendidikan Ilmu Komputer dan Ilmu Komputer Universitas Pendidikan Indonesia (2011-2013)<br/>
            Merancang, mengoordinasi, dan melaksanakan kegiatan praktikum sebagai kegiatan pendukung perkuliahan bersama dengan dosen pengampu pada mata kuliah Basis Data (Semester Ganjil 2011/2012), Sistem Basis Data (Semester Genap 2011/2012) dan Pemrograman Berorientasi Objek (Semester Genap 2012/2013).
        </li>
      </ul>
      <a href="/">  << Home </a>
      </body>
</html>
