<html>
    <head>
        <title>Web Profile Faisal</title>
    </head>
    <body>
      <h1>Profile Faisal</h1>

      <h2>Identitas Diri</h2>
      <table>
        <tr>
          <td>Nama</td>
          <td>:</td>
          <td>Faisal Agus Tri Putra</td>
        </tr>
        <tr>
          <td>Tempat Tanggal Lahir</td>
          <td>:</td>
          <td>12 Agustus 1991</td>
        </tr>
        <tr>
          <td>Alamat</td>
          <td>:</td>
          <td>Jl. Mahali No 41 Pondok Cina, Beji, Depok</td>
        </tr>
        <tr>
          <td>Pendidikan Terakhir</td>
          <td>:</td>
          <td>S1 Pendidikan Ilmu Komputer UPI (Lulus: 2014)</td>
        </tr>
        <tr>
          <td>Aktivitas Saat Ini</td>
          <td>:</td>
          <td>Mahasiswa Program Magister Ilmu Komputer UI (Intake Februari 2015)</td>
        </tr>
      </table>

      <h2>Kontak &amp; Media Sosial</h2>
      <ul>
        <li><a href="https://www.facebook.com/faisal.atp">Facebook</a></li>
        <li><a href="https://www.twitter.com/faisalagustp">Twitter</a></li>
        <li><a href="https://www.github.com/faisalagustp">Github</a></li>
      </ul>
    </body>
</html>
