<html>
    <head>
        <title>Web Profile Faisal</title>
        <style>
          th{
            text-align: left;
          }
        </style>
    </head>
    <body>
      <h1>Profile Faisal</h1>

      <h2>Identitas Diri</h2>
      <table>
        <tr>
          <th>Nama</th>
          <td>:</td>
          <td>Faisal Agus Tri Putra</td>
        </tr>
        <tr>
          <th>Tempat Tanggal Lahir</th>
          <td>:</td>
          <td>17 Agustus 1994</td>
        </tr>
        <tr>
          <th>Alamat</th>
          <td>:</td>
          <td>Jl. Cinta No 41 Pondok Cina, Beji, Depok</td>
        </tr>
        <tr>
          <th>Pendidikan Terakhir</th>
          <td>:</td>
          <td>S1 Pendidikan Ilmu Komputer UPI (Lulus: 2014)</td>
        </tr>
        <tr>
          <th>Aktivitas Saat Ini</th>
          <td>:</td>
          <td>Mahasiswa Program Magister Ilmu Komputer UI (Intake Februari 2015)</td>
        </tr>
      </table>

      <h2>Kontak &amp; Media Sosial</h2>
      <ul>
        <li><a href="https://www.facebook.com/faisal.atp">Facebook</a></li>
        <li><a href="https://www.twitter.com/faisalagustp">Twitter</a></li>
        <li><a href="https://www.github.com/faisalagustp">Github</a></li>
      </ul>
      <a href="activity/">  Activity >> </a>
    </body>
</html>
