{% extends 'base.html' %}

{% block header_text %}Start a new To-Do list{% endblock %}

{% block form_action %}{% url 'new_list' %}{% endblock %}

{% block komentar %}
<div id="komentar" class="alert alert-{{ boxtype }}" role="alert">
  Terdapat {{ items.count }} item dari {{lists.count}} list : <b id="komentarnya">{{ comment }}</b>
</div>
{% endblock %}

{% block lists %}
  {% for list in lists %}
    <ul class="pagination">
      <li><a href="{{list.id}}">{{ list.id }}</a></li>
    </ul>
  {% endfor %}
{% endblock %}
